<br><br><br><br>
<h3>Editing Support Request</h3>
<br>
<div class="form-group">
	<%= render 'form', support_request: @support_request %>

	<%= link_to 'Show', @support_request , class: "btn btn-info btn-lg"%>
	<%= link_to 'Back', support_requests_path , class: "btn btn-info btn-lg" %>
</div>